<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Legends Heroes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/foto_hero/icon.ico') }}">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/heroes">Таблица героев</a>
        <a href="/api/heroes">API Endpoint</a>

        <div class="theme-switch">
            <input type="checkbox" id="theme-toggle">
            <label for="theme-toggle" title="Переключить тему">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,18C11.11,18 10.26,17.8 9.5,17.45C11.56,16.5 13,14.42 13,12C13,9.58 11.56,7.5 9.5,6.55C10.26,6.2 11.11,6 12,6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31L23.31,12L20,8.69Z" />
                </svg>
            </label>
        </div>
    </nav>

    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    {% block content %}{% endblock %}
</body>
</html>